<div style="padding: 13px;">
    <mat-spinner *ngIf="(products$ | async).length === 0"></mat-spinner>

    <mat-card *ngFor="let product of (products$ | async)" style="margin-top:10px;">
        <mat-card-header>
            <mat-card-title>{{product.name}}</mat-card-title>
            <mat-card-subtitle>{{product.price}} $/ {{product.quantity}}
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>
                {{product.description}}
            </p>
            <img style="height:100%; width: 100%;" src="{{ product.imageUrl }}" />
        </mat-card-content>
        <mat-card-actions class="btn-product">
            <button mat-raised-button color="primary"> Buy product</button>
        </mat-card-actions>
    </mat-card>
</div>

<div class="container-pagination">
    <button (click)="LoadByPage('first')" mat-button> First</button>
    <button (click)="LoadByPage('prev')" mat-button> Previous</button>
    <button (click)="LoadByPage('next')" mat-button> Next</button>
    <button (click)="LoadByPage('last')" mat-button> Last</button>
</div>